<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">GestionCinema</a>-->
<!--      <div>-->
<!--        <ul class=" navbar-brand">-->
<!--          <li class="active"><a [routerLink]="['/cinema']" routerLinkActive="router-link-active" >Cinema</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--    </div>-->
<!--&lt;!&ndash;    <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="active"><a [routerLink]="['/cinema']" routerLinkActive="router-link-active" >Cinema</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--  </div>-->
<!--</nav>-->
<!--<router-outlet>-->

<!--</router-outlet>-->


<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
<!--  <ul class="navbar-nav">-->
<!--&lt;!&ndash;    logo  &ndash;&gt;-->
<!--<li class="navbar-brand">-->
<!--  <a>-->
<!--    <img src="assets/img/logoApp.png">-->
<!--  </a>-->
<!--</li>-->
<!--&lt;!&ndash;    Get Your Ticket  &ndash;&gt;-->
<!--&lt;!&ndash;    <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="nav-link" href="#"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;get your ticket &ndash;&gt;-->
<!--    <li class="nav-item active" >-->
<!--      <a class="nav-link" routerLink="/Cinema" >GetYours</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--</nav>-->


<!--<div>-->

<!--  <H1 class="style">WELCOME</H1>-->

<!--  <h2 class="style">If You want To Buy A ticket For You Or Your Beloved . You Are In The right Place.</h2>-->

<!--  <img src="assets/img/logo.png">-->

<!--  <h3 class="style"> Click Here </h3>-->
<!--</div>-->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Get Yours</a>

      <ul class="nav navbar-nav">
        <li><a routerLink="/cinema">cinema</a></li>

      </ul>

    </div>

  </div>
</nav>

  <router-outlet>

  </router-outlet>



